<launch>
    <node name="thrust_alloc" pkg = "thrust_allocator" type="CSEI" />
    <node name="measurements" pkg = "guidance" type="convert_measurements.py"/>
    <node name="observer" pkg = "observer" type="smallGain_CSEI"/>
    <node name="desiredpos" pkg = "guidance" type="path_generation.py"/>
    <node name="joy" pkg = "joy" type="joy_node"/>
    <node name="vel_controller" pkg = "controller" type="CBF_MRAC" />
</launch>

